rules_version = '2';

service cloud.firestore {
	// match /databases/{database}/documents {
	// match /users/{userId}/{document =** } {
	// allow read, write: if request.auth.uid == userId;
	// allow read: if request.auth.uid != userId && exists(/users/$(request.auth.uid));    // --> this line need to be tested
	// }
	// match /problems/{document =** } {
	// allow read: if request.auth.uid != null;
	// }
	// match /courses/{document =** } {
	// allow read: if request.auth.uid != null;
	// }

    match /{document=**} {
      allow read, write;
    
  }}


